EARTHENGINE_PROJECT=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_CLOUD_BUCKET=
CDSE_SH_CLIENT_ID=
CDSE_SH_CLIENT_SECRET=
CDSE_STAC_URL=https://stac.dataspace.copernicus.eu/v1/
CDSE_PROCESS_URL=https://sh.dataspace.copernicus.eu/process/v1
CDSE_TOKEN_URL=https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token
OA_MAE_REPOSITORY=
OA_MAE_CHECKPOINT_ROOT=
CROMA_REPOSITORY=
CROMA_CHECKPOINT_ROOT=
HAFNER_REPOSITORY=
HAFNER_CHECKPOINT_ROOT=
OUTPUT_ROOT=
